20150707_DNASeq_PE/*
20150721_DNASeq_PE/*
*.zip
*.pdf
07_list.txt
21_list.txt
Aug_Assemblies/*
BioNano/*
Illumina_2015/*
P_kings_genome/*
scripts/logfiles/*
scripts/*.o*
Original_P_kings
Fsts/*
quast_results_ABySS64/*
