20150707_DNASeq_PE/*
20150721_DNASeq_PE/*
20150707_DNASeq_PE_qc.zip
20150707_DNASeq_PE_qcQscores.pdf
20150721_DNASeq_PE_qc.zip
20150721_DNASeq_PE_qcQscores.pdf
20150707_DNASeq_PE_qcGC_content.pdf
20150707_DNASeq_PE_qcQscores.pdf
20150721_DNASeq_PE_qcGC_content.pdf
20150721_DNASeq_PE_qcQscores.pdf
07_list.txt
21_list.txt
20150707_DNASeq_PE_qcGC_content.pdf
20150707_DNASeq_PE_qcQscores.pdf
20150721_DNASeq_PE_qcGC_content.pdf
20150721_DNASeq_PE_qcQscores.pdf
read_file_lines_plot.pdf
read_file_size_plot.pdf
Aug_Assemblies/
BioNano/
Illumina_2015/
P_kings_genome/
scripts/logfiles/*
scripts/*.o*
Original_P_kings
Fsts/*
